body {
    background-color: rgb(204,204,204);
    max-width: 1200px;
    display: block;
    margin: auto;
}
.navbar {
    margin: 10px;
}

.fa-solid {
    font-size: 25px;
    margin-right: 10px;
}

.fa-solid:hover {
    cursor: pointer;
}

.title {
    position: absolute;
    color: white;
    top: 90%;
    left: 50%;
    font-size: 25px;
}

.movie-title {
    position: absolute;
    color: white;
    background-color: black;
    top: 90%;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    display: none;
}

.slide-image {
    margin-right: 10px;
    width: 360px;
    height: 360px;
    transition: transform .2s;
}

.slide-image:hover {
    scale: 1.5;
    border: 1px solid black;
}

.slide-image:hover + .movie-title {
    width: 100%;
    left: 40%;
    display: block;
}

.slide-title {
    font-size: 30px;
    font-weight: bold;
}

.carousel-indicators {
    position: relative;
    margin-right: 0;
}

.slide-button {
    position: relative;
}

.genre {
    border: 2px solid grey;
    background-color: grey;
    color: white;
    padding: 7px;
    margin: 20px;
    margin-left: 0;
}
.genre:hover{
    cursor: pointer;
}

.detail-list {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.detail-list:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card {
    background-color: #1F1F1F;
    color: white;
    margin-top: 20px
}

.img-thumbnail {
    width: 180px;
    height: 180px;
    object-fit:cover;
    border-radius: 50%;
}

.mini-actor-wrapper{
    gap: 10px;
    width: 500px;
    margin: 30px;
}

.mini-actor-wrapper:hover {
    opacity: 0.8;
    cursor: pointer;
}
