<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/6879b33e1d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
              </svg></a>
            <a href="http://localhost:3001/fav/0">21544</a>
            <div class="d-flex" role="search">
                <input id="myInput" class="form-control me-2 Search" type="search" placeholder="Search" aria-label="Search">
                <button click="handleClick" class="btn btn-outline-success btn-search" type="submit">Search</button>
            </div>
        </div>
    </nav>

    <script>
        var myInput = document.getElementById("myInput");

        // On page load, if there is a saved value, update the input field
        window.onload = function() {
        if (sessionStorage.getItem("autosave")) {
                myInput.value = sessionStorage.getItem("autosave");
                console.log(myInput);
            }
        }

        // When the input field changes, save the value
        myInput.addEventListener("keyup", function() {
            sessionStorage.setItem("autosave", myInput.value);
        });

        const Search = function(){
            var value = $('input').val();
            console.log(value);
            fetch(`http://localhost:3001/search/${value}/0`)
            .then(response => {
                window.location.href = `http://localhost:3001/search/${value}/0`;
            })
            // this.$emit('changeToSearch', value);
        }
        $('.btn-search').on('click', Search);
    </script>
</body>
</html>